ion-content {
  --background: #000;
}
.minigame-container {
  width: 100%;
}
iframe {
  display: block;
  margin: 0 auto;
  width: 100%;
  height: 400px;
  max-width: 640px;
}

// #buttonInstrucciones{
//   color: var(--ion-color-secondary);
// }

ion-button{
  color: var(--ion-color-light);
}
@media(min-width: 768px) {
  iframe {
    height: 580px;
  }
}