

<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="login"></ion-back-button>
    </ion-buttons>
    <ion-title>resetPassword</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="urlInvalid; else urlNoValid">
    
    <ion-row class="ion-justify-content-center ion-align-items-center">
      <ion-col size-xs="7" size-md="3" class="loginLogo">
      <img src="./assets/content/TABLETIZATE2.png" />
      <!-- <img src="assets/content/TABLETIZATE2.png" class="APANTALLE CON CIEL" id="mainLogo"> -->
    </ion-col>
  </ion-row>
  <ion-row class="ion-justify-content-center">
    <ion-col sizeXl="4" sizeMd="6" sizeSm="12" class="ion-text-center">
      <ion-list>
        <form #formulario="ngForm" (ngSubmit)="resetPass(formulario)">

            <ion-item id="itemPassword">
              <ion-label position="floating">Contraseña</ion-label>
              <ion-input  type="password"
                          [(ngModel)]="usuario.password"
                          name="password"
                          #password="ngModel"
                          id="password"
                          [class.is-invalid]="password.invalid && password.touched"
                          pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9]).{8,64}$"
                          required></ion-input>
            </ion-item>
  
            <ion-card *ngIf="password.invalid && password.touched">
              <ion-card-content style="padding: 5px;">
                <small>La contraseña debe contener almenos letras mayúscula, minúscula y números. Tambien debe tener una longitud de minimo 8 caracteres</small>
              </ion-card-content>
            </ion-card>
  
            <p *ngIf="password.invalid && password.touched "
              style="font-size: .8rem;color: #000;text-align: center;">
              Contraseña incorrecta
            </p>
  
            <ion-item id="itemPasswordConfirm">
              <ion-label position="floating">Confirmar contraseña</ion-label>
              <ion-input  type="password"
                          [(ngModel)]="usuario.passwordConfirm"
                          name="passwordConfirm"
                          id="passwordConfirm"
                          #passwordConfirm="ngModel"
                          [class.ion-invalid]="passwordConfirm.invalid && passwordConfirm.touched "
                          pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9]).{8,64}$"
                          (change)="confirmPassWord()"
                          required></ion-input>
            </ion-item>

            <p *ngIf="passwordConfirm.invalid && passwordConfirm.touched"
              style="font-size: .8rem;color: #000;text-align: center;">
              Contraseña incorrecta
            </p>
            <p *ngIf="passConfirm"
              style="font-size: .8rem;color: #000;text-align: center;">
              Las contraseñas no coinciden
            </p>
    
          <ion-button shape="round"
                      type="submit" 
                      expand="block"
                      *ngIf="!inicioButton;else buttonInicio"
                      class="ion-padding">
            Guardar
          </ion-button>

          <ng-template #buttonInicio>

            <ion-row class="ion-justify-content-center">
              <ion-col sizeLg="6" sizeSm="12" class="ion-text-center">
                <!-- <div class="ion-text-center">
                  <h3>Inicio</h3>
                </div> -->
                <ion-button shape="round"
                            expand="block"
                            class="ion-padding"
                            href="/login">
                            Iniciò
                </ion-button>
              </ion-col>
            </ion-row>
          </ng-template>


        </form>
      </ion-list>

    </ion-col>
  </ion-row>
  
</ion-content>

<ng-template #urlNoValid>
  <ion-content>

    <ion-row class="ion-justify-content-center">

      <ion-col sizeLg="6" sizeSm="12">
        <ion-card class="ion-text-center">
          <ion-card-header >
            <ion-card-subtitle > <h3>Error 404</h3></ion-card-subtitle>
          </ion-card-header>
        
          <ion-card-content>
            <h5>{{ message }}</h5>
          </ion-card-content>
        </ion-card>
      </ion-col>

    </ion-row>

    <ion-row class="ion-justify-content-center">
      <ion-col sizeLg="6" sizeSm="12" class="ion-text-center">
        <!-- <div class="ion-text-center">
          <h3>Inicio</h3>
        </div> -->
        <ion-button shape="round"
                    expand="block"
                    class="ion-padding"
                    href="/login">
                    Inicio
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-content>
</ng-template>
