<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="customer/help"></ion-back-button>
    </ion-buttons>
    <ion-title >Contactános</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col sizeLg="8">
        <ion-row>
          <ion-col>
            <ion-text class="ion-text-center">
              <h4>GANA CON CIEL MINERALIZADA</h4>
            </ion-text>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-text class="ion-text-center" color="dark">
              <p>
                Si tienes dudas contáctanos en el teléfono: <br>
                <a href="tel:8144441019" >(81) 44 44 10 19</a>
              </p>
              <br>
              <p>
                O escríbenos al correo electrónico: <br>
                <a href="mailto:promocioneskiosko@destaparecompensas.com">promocioneskiosko@destaparecompensas.com</a>
              </p>
            </ion-text>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>
