<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Aviso</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row class="ion-justify-content-center">
    <ion-col size-lg="6" size-xs="11">
      <ion-text>
        <h1 class="ion-text-center">ACTIVIDAD REALIDAD VIRTUAL EN ESTUDIO MONTERREY, N.L.</h1>
        <h5 class="ion-text-center" style="    margin-top: 0;">Fecha: 04-05-2021</h5>
        <ion-row class="ion-justify-content-center">
          <ion-col size="10">
            <img src="assets/images/beat-saber.jpg" >
          </ion-col>
        </ion-row>
        <p class="ion-text-justify">Llevaremos a cabo una actividad de realidad virtual exclusiva para los participantes de la ciudad de Monterrey y su área metropolitana con uno de los juegos más exitosos de este género llamado: BEAT SABER, quienes podrán asistir a un estudio virtual y poder competir en una eliminatoria para tener la oportunidad de ganar un casco de realidad virtual Oculus Quest 2.</p>
        <p class="ion-text-justify">Se seleccionarán 20 participantes distribuidos en 2 bloques de fechas que vivan en la ciudad de Monterrey o su área metropolitana.</p>
        <p class="ion-text-justify"><b> Tienes que seguir y cumplir los siguientes pasos para poder participar:</b></p>
        <p class="ion-text-justify" style="left: 10px">• Registra tu cuenta en www.breakparaseguir.com </p>
        <p>• Comprar $750 pesos o más en tiendas 7-Eleven en uno o varios tickets de producto Coca-Cola Con Café 235 ml en cualquiera de sus 3 sabores: espresso, vainilla o caramelo.<p>
        <p class="ion-text-justify" style="left: 10px">• Subir tus tickets a tu cuenta en el micrositio y que hayan sido aprobados.<p>
        <p class="ion-text-justify" style="left: 10px">• Primer bloque de participantes: los primeros 10 participantes que hayan cumplido con los primeros 3 pasos mencionados entre el 01 y 10 de mayo 2021 serán seleccionados y serán contactados entre el día 11 y 13 de mayo 2021 mediante correo electrónico y llamada a su celular para brindarles los detalles para asistir a la eliminatoria como son: Dirección de estudio virtual y Horario.<p>
        <p class="ion-text-justify" style="left: 10px">• Segundo bloque de participantes: los primeros 10 participantes que hayan cumplido con los primeros 3 pasos mencionados entre el 16 y 25 de mayo 2021 serán seleccionados y serán contactados entre el día 26 y 28 de mayo 2021 mediante correo electrónico y llamada a su celular para brindarles los detalles para asistir a la eliminatoria como son: Dirección de estudio virtual y Horario.<p>
        <p class="ion-text-justify" style="left: 10px">• El día de cada eliminatoria los 20 participantes seleccionados en 2 bloques de fechas tendrán la oportunidad de tener 5 minutos de prueba del juego y 3 minutos para competir.<p>
        <p class="ion-text-justify" style="left: 10px">• Los resultados de las eliminatorias y ganador del casco Oculus Quest 2 serán compartidos en la sección de Avisos en el micrositio oficial www.breakparaseguir.com </p>
        <p>• El participante que haya tenido el mejor puntaje durante las eliminatorias será quien sea acreedor del casco Oculus Quest 2.<p>

      </ion-text>
    </ion-col>
  </ion-row>
</ion-content>
