.transacction-list {
  .points-icon {
    text-align: start;
    display: flex;
    margin: 7px 0 0;
  
    ion-icon {
      margin: 2px 0 0 2px;
    }
  }
}


ion-label{
  color: #000 !important;
}

