<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button (click)="goHome()">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="upload">
      <ion-icon name="newspaper-outline"></ion-icon>
      <ion-label>Tickets</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="positions">
      <ion-icon name="podium-outline"></ion-icon>
      <ion-label>Posiciones</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="awards">
      <ion-icon name="trophy-outline"></ion-icon>
      <ion-label>Premios</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
