ion-text {
  ul {
    padding-left: 24px;
  }
  h5 {
    font-size: 14px !important;
    margin-top: 32px;
  }
  p {
    font-size: 12px !important;
  }
  li {
    font-size: 12px !important;
  }
}

@media (min-width: 750px) {
  ion-text{
    text-align: justify;
    h5 {
      font-size: 20px !important;
    }
    p {
      font-size: 18px !important;
    }
    li {
      font-size: 18px !important;
    }
    td {
      font-size: 18px !important;
    }
  }
}

ion-content {
  /*--background: url("./../../../../../assets/images/botellasLGR.png") no-repeat center center / cover;*/
  --background: var(--ion-color-light);
  --color: var(--ion-color-dark);
}
@media(max-width: 750px){
  ion-content {
    //--background: url("./../../../../../assets/images/botellasBack.png") no-repeat center center / cover;
  }
}