<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Fechas de corte</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col sizeLg="8">
        <ion-row>
          <ion-col>
            <ion-text class="ion-text-center">
              <h4>"TABLETÍZATE"</h4>
            </ion-text>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-text>
              <p>La cantidad total de premios se distribuirán en 3 cortes quincenales, por lo que tienes 3 oportunidades para ganar.</p>
              <ul>
                <li>1er. Corte Quincenal: 15 de diciembre al 31 de diciembre de 2021 hasta las 11:59 PM.</li>
                <li>2do. Corte Quincenal: 01 de enero 2022 al 15 de enero 2022 hasta las 11:59 PM.</li>
                <li>3er. Corte Quincenal: 16 de enero 2022 al 31 de enero 2022 hasta las 11:59 PM.</li>
              </ul>
              <p>No olvides consultar la lista de ganadores 6 días después de cada corte.</p>      
            </ion-text>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
    
  </ion-grid>
</ion-content>



