ion-content {
    /*--background: url("./../../../../../assets/images/botellasLGR.png") no-repeat center center / cover;*/
    --background: var(--ion-color-light);
    --color: var(--ion-color-dark);
}

h2{
  color: var(--ion-color-dark);
}