<ion-header>
  <ion-toolbar>
    <ion-title>notfound</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-row class="ion-justify-content-center">

    <ion-col sizeLg="6" sizeSm="12">
      <ion-card class="ion-text-center">
        <ion-card-header >
          <ion-card-subtitle > <h3>Error 404</h3></ion-card-subtitle>
        </ion-card-header>
      
        <ion-card-content>
          <h5>pagina no encontrada, favor de regresar al inicio</h5>
        </ion-card-content>
      </ion-card>
    </ion-col>

  </ion-row>

  <ion-row class="ion-justify-content-center">
    <ion-col sizeLg="6" sizeSm="12" class="ion-text-center">
      <!-- <div class="ion-text-center">
        <h3>Inicio</h3>
      </div> -->
      <ion-button shape="round"
                  expand="block"
                  class="ion-padding"
                  href="/login">
                  Iniciò
      </ion-button>
    </ion-col>
  </ion-row>
</ion-content>
