<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>INSTRUCCIONES</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col sizeLg="6">
        <ion-text class="ion-text-center">
          <h2>"JUEGA <ion-text >SIMON DICE</ion-text>"</h2>
          <img src="assets/minigame.png" alt="SIMON DICE">
          <p>El juego consiste en que de forma aleatoria se iran iluminando figuras de colores.</p>
          <p>Después de esperar, debes de ir introduciendo la misma secuencia mostrada en el orden correcto.</p>
          <p>Si lo consigues, la secuencia será más larga en el siguiente nivel y así sucesivamente. </p>
          <p>Si fallas, el juego termina y se te mostrará los puntos que ganaste.</p>
          <p>Los distintos niveles de dificultad van aumentando la velocidad de la secuencia a repetir, así que presta mucha atención.</p>
          <p>¡BUENA SUERTE!</p>
        </ion-text>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col size="6" sizeMd="3" text-center>
        <ion-button expand="block" (click)="dismiss()">Entendido</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  
</ion-content>
